<div id="mobile-nav">
	<button mat-icon-button (click)="snav.toggle()">
		<i class="fas fa-bars"></i>
	</button>
</div>

<mat-sidenav-container class="example-container" fullscreen>
	<mat-sidenav mode="over" opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
		[fixedInViewport]="mobileQuery.matches">
		<div class="logo">
			<img src="//endian.io/img/logo.svg"  alt="Endian"/>
		</div>
		<h1>180 package cost calculator</h1>
		<h2>find out how much you could save with this handy tool</h2>
		<div class="cta">
			<p>Any questions?</p>
			<p>
        <a href="https://calendar.google.com/calendar/selfsched?sstoken=UUJwWVF4VGtRT1ZUfGRlZmF1bHR8OGIwNWQ5MTEwYTM2YjlkMjZjM2YwN2MwYzQ4ZDIxNWU"
          target="_blank"
          angulartics2On="click"
          angularticsAction="bookmeeting"
          angularticsCategory="engagement"
          angularticsLabel="UUJwWVF4VGtRT1ZUfGRlZmF1bHR8OGIwNWQ5MTEwYTM2YjlkMjZjM2YwN2MwYzQ4ZDIxNWU">
					<button mat-raised-button>Schedule a meeting</button>
				</a>
			</p>
			<p>or drop us a line at <a href="mailto:hello@endian.io">hello@endian.io</a>.</p>
		</div>
		<div class="get-started">
			<button mat-raised-button (click)="snav.toggle()">
				Let's go &raquo;
			</button>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="wrapper">
			<mat-card>
				<mat-card-content>
					<h3>I want to hire <strong>{{numberOfHires}} people</strong></h3>
					<mat-slider
						min="7"
						max="35"
						step="1"
						thumbLabel
						tickInterval="1"
						[(ngModel)]="numberOfHires"
						(change)="onChange()"
						>
					</mat-slider>

					<h3>Over <strong>{{numberOfMonths}} months</strong></h3>
					<mat-slider
						min="3"
						max="24"
						step="1"
						thumbLabel
						tickInterval="1"
						[(ngModel)]="numberOfMonths"
						(change)="onChange()"
						>
					</mat-slider>

					<h4><span>optional</span> ...with total first year salaries for all {{numberOfHires}} people of</h4>
					<mat-form-field hintLabel="In thousands, to save your 0 key">
						<input matInput class="align-right" type="number" step="10" min="0" max="100000" [(ngModel)]="salaryTotal" (ngModelChange)="onChange()">
						<span matPrefix>£&nbsp;</span>
						<span matSuffix>, 000</span>
					</mat-form-field>
				</mat-card-content>
				<mat-card-footer>
					<h4><span>optional</span> ...and my current recruiter charges me</h4>
					<mat-form-field hintLabel="of first year salary per hire">
						<input matInput class="align-right" type="number" step="5" min="0" max="100" [(ngModel)]="recruiterFee" (ngModelChange)="onChange()">
						<span matSuffix>%</span>
					</mat-form-field>
				</mat-card-footer>
			</mat-card>

			<mat-card>
				<mat-card-content>
					<div class="investment" *ngIf="yourPackage">
						<div class="even-faster" *ngIf="numberOfMonths != actualMonths">
							<strong>Good news! Under normal circumstances, we can help you hire {{numberOfHires}} people in only <strong>{{actualMonths}} months</strong>, so you wouldn't need to pay for the full {{numberOfMonths}}.</strong>
						</div>
						<h3>Your estimated price</h3>
						<p class="total no-margin">
							<span class="cost">{{cost | currency:'GBP':'symbol':'1.0-0'}}</span>
							<span class="vat"> (plus VAT) in total</span>
						</p>
						<p> (which works out to <span class="cost">{{cost / actualMonths | currency:'GBP':'symbol':'1.0-0'}}</span> per month for <span class="cost">{{actualMonths}} months</span>) </p>
						<p *ngIf="savings > 0">
							A traditional recruiter would charge you <span class="bad-cost">{{this.recruiterCost | currency:'GBP':'symbol':'1.0-0'}}</span>. We could be saving you <span class="cost">{{this.savings | currency:'GBP':'symbol':'1.0-0'}}</span>, or about <span class="percentage">{{this.savingsPercent | number:'1.0-0'}}%</span>.
						</p>

						<h3 class="what-you-get">What you get</h3>
						<p>Our <span class="cost">{{yourPackage.name}}</span> package: {{yourPackage.desc}}</p>
					</div>

					<div class="need-a-team" *ngIf="!yourPackage">
						<h3>We're going to need a bigger boat!</h3>
						<p>For a campaign of that size, you'll need a custom team. We can help with that too, please contact us for more information.</p>
					</div>
				</mat-card-content>
			</mat-card>
		</div>

		<div id="mobile-footer">
			<h3>Contact us</h3>

			<p>
				<a href="https://calendar.google.com/calendar/selfsched?sstoken=UUJwWVF4VGtRT1ZUfGRlZmF1bHR8OGIwNWQ5MTEwYTM2YjlkMjZjM2YwN2MwYzQ4ZDIxNWU" target="_blank">
					<button mat-raised-button>Schedule a meeting</button>
				</a>
			</p>
			<p>or drop us a line at <a href="mailto:hello@endian.io">hello@endian.io</a>.</p>

		</div>
		<div id="faqs">
			<mat-card>
				<mat-card-content>
			<h3>Frequently asked questions</h3>

			<h4>Who's this for?</h4>
			<p>
			The 180 Package is best suited to businesses who are going through a talent growth spurt. Maybe you've just raised a round of funding and need to fill out your tech team, or perhaps you've just won a large contract and need more designers. Whether you're a tech company looking for a product team, an expanding fashion label - or anything in between - we can take all the work out of finding the people you need. And we charge less than almost any traditional recruiter.
			</p>

			<h4>How much will this actually cost me?</h4>

			<p>We charge a monthly fee for our specialists, with a minimum of 3 months engagement. Our Talent Solo package is £16k per month (plus VAT), so you're looking at a £48k total investment for the minimum 3 months &mdash; which we think is pretty good, especially if you want to hire 12 people. Our Talent Duo package is £24k per month, or £72k over the 3 month minimum, and is incredibly good value if you're hiring around 30 people. Finally, for those with special requirements or big appetite for talent, our Talent Team package can be tailed to your needs. If you're in that situation, get in touch and we'll whip you up a custom quote that will make you very happy.</p>

			<p>The exact savings depend on your situation. A traditional recruiter is likely to charge you 20% of the total of the salaries of all your new hires. Depending on their role and skill level, that can be quite a lot. We've designed our packages so that you save money in almost every realistic circumstance. The calculator above will give you an accurate quote.</p>

			<h4>What if I only want to hire 1-2 people?</h4>

			<p>Our savings really kick in when the total salary of all your hires increases. Our Talent Solo package starts saving you money when the total salaries exceed £240k and our Talent Duo package starts to make sense from £390k. If you're hiring a couple of really expensive people, it might still be worthwhile &mdash; get in contact with us and we'll find a way to save you time and money.</p>

			<h4>How long am I tied in?</h4>

			<p>We'll work with you to create a package, to a minimum of 3 months, to fill all your outstanding positions. You can pay for that in monthly instalments, to make sure we're doing our job. After that we offer a monthly rolling contract, which you’re free to end at any time.</p>

			<h4>What are the guarantees?</h4>

			<p>We supply the minimum number of qualified candidates per month or 50% discount for next month.</p>

			<h4>Wouldn't Endian make more money doing recruiting the traditional way?</h4>

			<p>Yes, definitely. We'd just prefer to be able to sleep at night.  We  charge  a  fair  rate  for  a  job  well done, because we think it's the right thing to do. It's not going to make us rich and it's not going to make you poor, so we're okay with it.</p>
				</mat-card-content>
			</mat-card>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

